* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  color: black;
  text-decoration: none;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

dd {
  padding-left: 30px;
}

dt {
  padding: 10px;
  padding-left: 0;
}

.encabezado {
  bottom: 0%;
  left: 0%;
  position: absolute;
}

footer {
  background-color: rgb(207, 209, 214);
  color: rgb(99, 101, 105);
  font-weight: bold;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding-top: 20px;
  padding-bottom: 10px;
  text-align: center;
}

h1 {
  color: white;
  padding-bottom: 0%;
}

header {
  margin-left: 10px;
  margin-right: 20px;
}

i {
  padding-right: 10px;
}

.imagenEncabezado {
  background-image: url(../img/lemon-pie.png);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 100px;
}

main {
  margin-left: 10px;
  margin-right: 20px;
}

nav ul {
  padding-left: 0%;
}

ol {
  margin-top: 10px;
  padding-left: 30px;
}

p {
  color: white;
}

.padre {
  margin-top: 60px;
  padding: 150px;
  position: relative;
}

ul{
    margin-top: 20px;
}

section {
  color: rgb(47, 47, 51);
  margin-bottom: 20px;
  margin-top: 20px;
}

span {
  font-style: italic;
  font-weight: 600;
}
